@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}
.bgtrans {
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(6px);
  box-shadow: rgba(145, 158, 171, 0.08) -8px 8px 24px -4px;
}
.bgoverlay {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(/public/assets/products/overlay.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-position: center center;
  background-position: center center;
  overflow: hidden;
}



.product-item {
  transition: transform 0.3s ease-in-out;
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-item:hover .w-16 {
  animation: spin 1s  linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
